.buyCoffee {
  padding-top: 8rem;
  display: block;
  background: url('/coffee.png') no-repeat top center;
  background-size: auto 8rem;

  &Button {
    background: #00b8a9;
    color: #ffffff;
    font-size: 1rem;
    padding: 1em 2rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    display: block;

    &:hover {
      background: white;
      color: black;
    }
  }
}
